@media (max-width:992px) {
    .navbar {
       align-items: center;
    }
    .head1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    .game {
        font-size: 1.5rem;
    }
    p, .paraFont{
        font-size: 1.2rem;
    }
    div .seemore{
        width: 119px;
        height: 33px;
        font-size: 0.9rem;
        margin-top: 10px;
    }
    .title{
        display: flex;
        flex-direction: column;
        width: 61vw;
        height: 50vh;
        justify-content: center;

    }
    .hero-area {
        height: 30%;
    }
    .row, #reviews .row{
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
    .btn {
        width: 150px;
        height: 43px;
        font-size: 1.3rem;
    }
    .hero-area {
        height: 80vh;
    }
    .social-btns{
        font-size: 2rem;
        padding-left: 10px;
    }
  
}
@media (max-width: 998px) {
    .navbar-toggler {
        display: flex;
        margin: 0;
    }
    .nav-item {
        display: none;
    }
    .navigation{
        padding: 10px;
    }
    .contact-img {
        height: 100%;
    }
    .contact-content {
        flex-direction: column;
        gap:10px;
    }
    .contact-content .game {
        margin: 0;
    }
    .contact-header{
        width: 100%;
    }
}
