/* primary color: #000123 */
/* secondary color : #151441 */
/* button color: #ff0f7b */
* {
    padding:0;
    margin: 0;
}
body{
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* utils */

.text-center {
    text-align: center;
}
.d-flex{
    display: flex;
}
.container {
    width: 100%;
    margin: auto;
    padding: auto;
}
body .secondary-color {
    background-color: #151441;
}

/* navigation area  */

.navigation {
    width: 100%;
    position: fixed;
    top : 0;
    left: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #000123;
    z-index: 999;
    overflow: hidden;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 0 17%;
    margin:0;
}
.fa-regular {
    font-size: 3rem;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
}

/* .navbar-collapse {
    flex-basis: 100%;
    flex-grow:1;
    align-items: center;
} */
.navbar-brand, p{
    font-size: 1.5rem;
}
.container-fluid{
    width: 100%;
    padding-top: 50px;
}
.navbar-nav {
    padding: 20px;
    list-style: none;
}
.navbar-nav .nav-item {
    padding-left: 20px;
}
.nav-link, .navbar-brand {
    color :white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-item .nav-link:hover {
    color: #808080;
    transition: all .15s ease-in-out;
}

/* hero area */

.hero-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
}
.bg-img {
    position : absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.head1{
    font-size: 5rem;
}
.btn{
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 2rem;
    margin-top: 20px;
    background-color: #ff0f7b;
    color: white;
    border-radius: 2rem;
    border:none;
}
.btn:hover {
    background-color: #fff;
    color:#ff0f7b;
    transition: all 0.15s ease-out;
}
.title {
    width: 40vw;
    padding: 8% 17%;    
}

/* shop section  */

.shop1{
    line-height: 2;
}
 .semi-color, .game {
    color:#ff0f7b;
}
 .paraFont{
    font-size: 1.9rem;
    line-height: 1.5;
}
.game{
    font-size : 1.9rem;
    text-transform: uppercase;
    font-weight: 700;
}

.arrowDown-btn {
    display: block;
    background-color: transparent;
    font-size: 2rem;
    border:none;
}

/* collections section  */
.section{
    position: relative;
    overflow: hidden;
    padding: 8% 17%;
    background-color: #000123;
}
.row {
    display:grid;
    grid-template-columns: auto auto;
    gap: 80px 100px ;
}
.heroImg {
    width: 30vw;
}

.heroImg{
    width: 30vw;
}
.casual-img .heroImg {
    
    width: 30vw;
    height: 90%;
}
h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
div .seemore {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 185px;
    height: 48px;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    line-height: 0.95em;
    font-size: 1.4rem;
    margin-top: 110px;
}

/* reviews */
 #reviews .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

/* contact */

#contact{
    background-color: transparent;
}
.contact-img {
 position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.contact-header {
    width: 30vw;
    margin: 10px;
    padding: 6% 0;
}
 .contact-content {
    width:100%;
    height: 60vh;
    gap:100px;
}
.contact-info {
    flex-direction: column;
    align-self: flex-end;
} 

.contact-info .game {
    text-transform: lowercase;
    margin: 40px 0 ;
} 
.social-btns {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    padding-left: 10px;
} 

/* footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}